@model RoomCreateDto

@{
    ViewData["Title"] = "Create";
}

<h4>Create Room Page</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" asp-controller="Room">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomName"></label>
                <input asp-for="RoomName" class="form-control" />
                <span asp-validation-for="RoomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoomTypeId"></label>
                <select asp-for="RoomTypeId" asp-items="ViewBag.roomTypes" class="form-control"> </select>
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            </div>
            <div class="form-group form-check" >
                <label class="form-check-label">
                    <input class="form-check-input"   id="checkId" asp-for="Lack" /> @Html.DisplayNameFor(model => model.Lack)
                </label>
            </div>

            <div class="form-group d-none" id="lackDetailId">
                <label asp-for="LackDetail"></label>
                <input asp-for="LackDetail" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


    @section ExtraScripts{
    <script>
        $(document).ready(function () {

            let lackDetail = $('#lackDetailId');

            $("#checkId").on('change', function () {
                if ($(this).is(':checked')) {
                    lackDetail.addClass('d-block').removeClass('d-none');
                } else {
                    lackDetail.addClass('d-none').removeClass('d-block');
                }
            });
        });
    </script>
}

