
@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-between">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">On this page, you can access room reports by month.</li>
        </ol>
    </nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Room Report</li>
        </ol>
    </nav>
</div>


<form class="mt-2" asp-controller="RoomReport" asp-action="GetBySelected" method="get">

    <div class="card">
        <div class="card-body">
            <div class="row" id="paymentSection">
                <div class="col-6">
                    <div class="form-check">
                        <input id="monthlyChecked" name="checkedPayment" type="radio"
                               class="form-check-input">
                        <label for="monthlyChecked" class="form-check-label">Monthly</label>
                    </div>
                    <input id="monthly" type="month" name="selectedDate" class="form-control">
                    
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="roomName" class="form-label">Room Name  <span class="text-muted">(Required)</span> </label>
                        <select id="roomName" name="roomId" asp-items="ViewBag.rooms" class="form-control" aria-label="Default select example"> </select>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

</form>