<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll">
            <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="200">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class="row">
                            <div class="sidebar-userpic">
								<img src="~/img/logo.png" />
                            </div>
                        </div>
                        <div class="profile-usertitle">
                            <div class="sidebar-userpic-name"> Admin</div>
                            <div class="profile-usertitle-job"> Superadmin</div>
                        </div>
                        <div class="sidebar-userpic-btn">
                            <a class="tooltips" href="email_inbox.html" data-placement="top"
                               data-original-title="Mail">
                                <i class="material-icons">mail_outline</i>
                            </a>
                            <a class="tooltips" href="login.html" data-placement="top"
                               data-original-title="Logout">
                                <i class="material-icons">input</i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item start active">
                    <a asp-controller="Home" asp-action="Index" class="nav-link nav-toggle">
                        <i class="material-icons">dashboard</i>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">attach_money</i>
                        <span class="title">Rooms</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item active">
                            <a asp-controller="Room" asp-action="Index" class="nav-link">

                                <span class="title">Our Rooms</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="RoomType" asp-action="Index" class="nav-link">
                                <span class="title">Room Type</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="RoomReport" asp-action="Index" class="nav-link">
                                <span class="title">Room Reports</span>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-toggle">
                        <i class="material-icons">people</i>
                        <span class="title">Customers</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item active">          
                                <a asp-controller="Customer" asp-action="Index" class="nav-link">
                                <span class="title">Customers</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="Record" asp-action="Index" class="nav-link">

                                <span class="title">Records</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-controller="PaymentDetail" asp-action="Index" class="nav-link">
                        <i class="material-icons">payment</i>
                        <span class="title">Payments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">attach_money</i>
                        <span class="title">Incomes</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item active">
                            <a asp-controller="RoomIncome" asp-action="Index" class="nav-link">

                                <span class="title">Rent Incomes</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="IncomeDetail" asp-action="Index" class="nav-link">
                            
                                <span class="title">Other Incomes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="title">Yearly Balance</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-controller="ExchangeRate" asp-action="Index" class="nav-link">
                        <i class="material-icons">dvr</i>
                        <span class="title">Others</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Mail" asp-action="Index" class="nav-link">

                        <i class="material-icons">store</i>
                        <span class="title">Mail </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">store</i>
                        <span class="title">Log Data</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>