@model Project.Core.DTOs.CustomerDto

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-between">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">You can add customer from this page</li>
        </ol>
    </nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Customer</li>
        </ol>
    </nav>
</div>

<div class="card">
    <h4 class="card-title ps-4">Add Customer</h4>
    <div class="card-body">
        <div class="row g-5">
            <div class="col-md-12 col-lg-12">
                <form asp-controller="Customer" asp-action="Create"  class="needs-validation" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row g-3">
                        <div class="col-6">
                             <div class="form-group">
                                <label for="fullName" class="form-label">Full Name <span class="text-muted">(Required)</span></label>
                                <input type="text" asp-for="FullName"  class="form-control" id="fullName" placeholder="Please Enter Full Name">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                         </div>
                        <div class="col-6">
                                <div class="form-group">
                                <label for="idNo" class="form-label">ID No<span class="text-muted">(Optional)</span></label>
                                    <div class="input-group has-validation">
                                    <span class="input-group-text">#</span>
                                        <input id="idNo" asp-for="IdentityNo" class="form-control" placeholder="Please Enter ID No" />
                                         <span asp-validation-for="IdentityNo" class="text-danger"></span>
                                    </div>                           
                            </div>
                        </div>
                        <div class="col-6">
                             <div class="form-group">
                                <label for="email" class="form-label">Email <span class="text-muted">(Required)</span></label>
                                <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Please Enter Email (you@example.com)" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                                <div class="form-group">
                                <label for="phoneNumber" class="form-label">Phone Number<span class="text-muted">(Optional)</span></label>
                                <input asp-for="Phone" class="form-control" id="phoneNumber" placeholder="+90......" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                        </div>
                        <div class="col-6">
                             <div class="form-group">
                                <label for="entryDate" class="form-label">Entry Date <span class="text-muted">(Required)</span> </label>
                                <input asp-for="EntryDate" class="form-control" id="entryDate" />
                                <span asp-validation-for="EntryDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                                 <div class="form-group">
                                    <label for="departDate" class="form-label">Depart Date <span class="text-muted">(Required)</span> </label>
                                    <input asp-for="Depart" class="form-control" id="departDate" />
                                    <span asp-validation-for="Depart" class="text-danger"></span>
                                </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="relativeFullName" class="form-label">
                                    Relative Name
                                    Surname <span class="text-muted">(Optional)</span>
                                </label>
                                <input id="relativeFullName" asp-for="RelativeNameSurname" placeholder="Please Enter Relative Name Surname" class="form-control" />
                                <span asp-validation-for="RelativeNameSurname" class="text-danger"></span>
                            </div>
                        </div>  
                        <div class="col-6">
                            <div class="form-group">
                                <label for="RelativePhoneNumber" class="form-label">Relative Phone Number<span class="text-muted">(Optional)</span></label>
                                <input asp-for="RelativePhone" class="form-control" id="RelativePhoneNumber" placeholder="+90......" />
                                <span asp-validation-for="RelativePhone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="universityName" class="form-label">University Name<span class="text-muted">(Optional)</span></label>
                                <input asp-for="UniversityName" id="universityName" class="form-control"  placeholder="Plase Enter University Name"/>
                                <span asp-validation-for="UniversityName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="description" class="form-label">Description<span class="text-muted">(Optional)</span></label>
                                <input asp-for="Description" class="form-control" id="description"    placeholder="Plase Enter Description" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="roomName" class="form-label">Room Name  <span class="text-muted">(Required)</span> </label>
                                <select id="roomName" asp-for="RoomId" asp-items="ViewBag.rooms" class="form-control" aria-label="Default select example"> </select>
                                <span asp-validation-for="RoomId" class="text-danger"></span>
                            </div>
                         
                        </div>
                         <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" for="upload"> Image </label>
                                <input asp-for="Files"  type="file" class="form-control" id="upload"  multiple/>
                                <span asp-validation-for="Files" class="text-danger"></span>
                                
                            </div>
                        </div>
                         <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="discountId" asp-for="Discount" />
                                <label class="form-check-label" for="discountId">
                                    Discount
                                </label>
                            </div>
                              <div class="form-group col-6">
                                <div class="d-none" id="discountPriceId">
                                    <label asp-for="DiscountPrice"></label>
                                    <input id="discoundPriceInput" type="number" asp-for="DiscountPrice" class="form-control" />
                                    <span asp-validation-for="DiscountPrice" class="text-danger"></span>

                                </div>
                            </div>


                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="downPaymentId" asp-for="DownPayment" />
                                <label class="form-check-label" for="downPaymentId">
                                    Down Payment
                                </label>
                            </div>
                            <div class="form-group col-6">
                                <div class="d-none" id="downPaymentPriceId">
                                    <label asp-for="DownPaymentPrice"></label>
                                    <input id="downPaymentPriceInput" type="number" asp-for="DownPaymentPrice" class="form-control" />
                                    <span asp-validation-for="DiscountPrice" class="text-danger"></span>

                                </div>
                            </div>


                        </div>


                        <div class="form-group">
                            <button class="btn btn-primary" type="submit"><i class="material-icons f-left material-css">thumb_up</i>  Submit </button>
                            <a asp-action="Index" class="btn btn-danger">
                                <i class="material-icons f-left material-css">backspace</i>
                                Back To List
                            </a>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

    @section ExtraScripts{
    <script>
        $(document).ready(function () {

            let discountPrice = $('#discountPriceId');
            let downPaymentPrice = $('#downPaymentPriceId');
            $('#discoundPriceInput').val('0');
            $('#downPaymentPriceInput').val('0');



            $("#discountId").on('change', function () {
                if ($(this).is(':checked')) {
                    discountPrice.addClass('d-block').removeClass('d-none');
                } else {
                    discountPrice.addClass('d-none').removeClass('d-block');
                    $('#discoundPriceInput').val('0');
                }
            });
            $("#downPaymentId").on('change', function () {
                if ($(this).is(':checked')) {
                    downPaymentPrice.addClass('d-block').removeClass('d-none');
                } else {
                    downPaymentPrice.addClass('d-none').removeClass('d-block');
                    $('#downPaymentPriceInput').val('0');
                }
            });
        });
    </script>
}