@{
    ViewData["Title"] = "Room Income";
}

@model List<IncomeDetailDto>

<div class="text-center">
    <h1 class="display-4">Income  Page</h1>
</div>

<div class="my-2">
    <a class="btn btn-primary mr-2" asp-action="Create" asp-controller="RoomIncome">Add New +</a>
</div>

<form class="mt-2" asp-controller="RoomIncome" asp-action="GetBySelected" method="get">

    <div class="card">
        <div class="card-body">
            <div class="my-2">
                <a href="#" class="btn btn-outline-warning">Add New +</a>
            </div>
            <div class="row" id="paymentSection">
                <div class="col-6">
                    <input id="monthly" type="month" name="selectedDate" class="form-control">
                    <div class="form-check">
                        <input id="monthlyChecked" name="checkedPayment" type="radio"
                               class="form-check-input">
                        <label for="monthlyChecked" class="form-check-label">Monthly</label>
                    </div>
                </div>
                <div class="col-6">
                    <input type="datetime-local" name="selectedDate" class="form-control" id="normalDate">
                    <div class="form-check">
                        <input id="normalChecked" type="radio" name="checkedPayment"
                               class="form-check-input">
                        <label for="normalChecked" class="form-check-label">Daily</label>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>


</form>


@section ExtraScripts {
    <script src="~/js/montlyordaily.js"></script>
    }