@using Project.Core.Enums
@model Project.Core.DTOs.RoomIncomeDto

@{
    ViewData["Title"] = "Update";
}

<h4>Update Room Rent</h4>
<hr />

<h3> Dept : <span style="font-size:20px;color:red" id="debt"></span></h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" asp-controller="RoomIncome">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="RoomId"></label>
                <select asp-for="RoomId" id="roomId" asp-items="ViewBag.rooms" class="form-control"> </select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exchange" class="control-label"></label>
                <select asp-for="Exchange" asp-items="Html.GetEnumSelectList<Exchange>()" class="form-control"></select>

                <span asp-validation-for="Exchange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()" class="form-control"></select>

                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <select id="customerName" asp-for="CustomerName"  class="form-control"></select>

                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }


@section ExtraScripts{
        <script>
        $(document).ready(function () {

            let id = $("#roomId").val();
            let url = "/RoomIncome/GetByDebt";
            let roomWithCustomerUrl = "/RoomIncome/GetBySingleRoomByIdWithCustomer/";


            $.post(url , {id : id}, function(data) {
                $("#debt").html(data);
                $.get(roomWithCustomerUrl + id, function (response) {
                    if (response.length > 0) {
                        $.each(response, function (key, value) {
                            $('#customerName')
                                .append($("<option></option>")
                                    .attr("value", value.fullName)
                                    .text(value.fullName));
                        });
                    }
                    else {
                        $('#customerName')
                            .append($("<option></option>")
                                .text("-- Havent Customer"));
                    }
                });
            })

            $("#roomId").change(function () {
                
                 id = $("#roomId").val();
                 $.post(url , {id : id}, function(data) {
                    $("#debt").html(data);
                    $.get(roomWithCustomerUrl + id, function (response) {
                        $('#customerName').empty();
                        if (response.length > 0) {
                            $.each(response, function (key, value) {
                                $('#customerName')
                                    .append($("<option></option>")
                                        .attr("value", value.fullName)
                                        .text(value.fullName));
                            });
                        }
                        else {
                            $('#customerName')
                                .append($("<option></option>")
                                    .text("-- Havent Customer"));
                        }
                    });
                })
             
            });
        });
        </script>
}