@model Project.Core.DTOs.MailDto

@{
    ViewData["Title"] = "Index";
}

<h3>Send  Mail </h3>

   <div class="row">
       <div class="col-md-12">
                <form asp-action="SendAMailToTheDebtors" asp-controller="Mail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label">  </label>
                        <input asp-for="Subject" class="form-control"  />
                        <span asp-validation-for="Subject" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Body" class="control-label">  </label>
                        <input asp-for="Body"  class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>

                    </div>
                    <button class="btn btn-primary mt-2" type="submit">Send Mail</button>
                </form>
       </div>
   </div>


   <div class="row">
       <div class="col-md-12">
        <form asp-action="SendAMailToAllUsers" asp-controller="Mail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label">  </label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label">  </label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>

            </div>
            <button class="btn btn-primary mt-2" type="submit">Send Mail</button>
                </form>
       </div>
   </div>