
@{
    ViewData["Title"] = "GetBySelected";
}



	<div>
		<h3  id="dateId">@ViewBag.date</h3>
	</div>

	<div class="row">
			<h3>All Income and Payment with Exchange</h3>
		<div class="d-flex justify-content-start flex-wrap">
			<div class="card bg-primary  m-2" style="width:290px">
				<span class="card-icon">
					<lord-icon src="https://cdn.lordicon.com/cjieiyzp.json"
						   trigger="hover"
						   colors="primary:#fff,secondary:#fff"
						   class="position-absolute">
					</lord-icon>
				</span>
				<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

				<div class="card-content ms-5">
					<div class="card-header" >Total Incomes</div>
					<hr class="my-0 ms-2">
					<div class="card-body" id="totalIncome">
					</div>
				</div>
			</div>

			<div class="card bg-b-pink  m-2" style="width:290px">
				<span class="card-icon">
					<lord-icon src="https://cdn.lordicon.com/rgyftmhc.json"
						   trigger="hover"
						   colors="primary:#fff,secondary:#fff"
						   class="position-absolute">
					</lord-icon>
				</span>
				<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

				<div class="card-content ms-5">
					<div class="card-header">Total Payments Count</div>
					<hr class="my-0 ms-2">
					<div class="card-body" id="totalPayment">

					</div>
				</div>
			</div>
			<div class="card bg-success  m-2" style="width:290px">
				<span class="card-icon">
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
					<lord-icon src="https://cdn.lordicon.com/huwchbks.json"
						   trigger="hover"
						   colors="primary:#fff,secondary:#fff"
						   class="position-absolute">
						>
					</lord-icon>
				</span>
				<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

				<div class="card-content ms-5">
					<div class="card-header">Total Remaining Balance</div>
					<hr class="my-0 ms-2">
					<div class="card-body" id="totalBalance">
						
					</div>
				</div>
			</div>
		</div>

		<div class="row">
		<div class="col-12"  style="background:white">
				<h3 class="my-2">
					All Income (Exgange Name) & Price Chart
				</h3>

			<div id="allIncomeCurrencyChart"></div>

			</div>

			<h3>All Income and Payment with Payment Name</h3>

			<div class="row">
				<div class="card bg-primary  m-2 col-4" style="width:290px">
					<span class="card-icon">
						<lord-icon src="https://cdn.lordicon.com/cjieiyzp.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Eft Income</div>
						<hr class="my-0 ms-2">
						<div class="card-body" id="totalEft">
							
						</div>
					</div>
				</div>
				<div class="card bg-danger  m-2  col-4" style="width:290px">
					<span class="card-icon">
						<lord-icon src="https://cdn.lordicon.com/cjieiyzp.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Eft Payment</div>
						<hr class="my-0 ms-2">
						<div class="card-body" id="totalEftPayment">
						</div>
					</div>
				</div>
				<div class="card bg-success m-2  col-4" style="width:290px">
					<span class="card-icon">
						<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
						<lord-icon src="https://cdn.lordicon.com/huwchbks.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
							>
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Eft Balance</div>
						<hr class="my-0 ms-2">
						<div class="card-body" id="totalEftBalance">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card bg-primary  m-2" style="width:290px">
					<span class="card-icon">
						<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
						<lord-icon src="https://cdn.lordicon.com/yeallgsa.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
							>
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Cash Income</div>
						<hr class="my-0 ms-2">
						<div class="card-body" id="totalCash">
						</div>
					</div>
				</div>
				<div class="card bg-danger  m-2" style="width:290px">
					<span class="card-icon">
						<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
						<lord-icon src="https://cdn.lordicon.com/yeallgsa.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
							>
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Cash Payment</div>
						<hr class="my-0 ms-2">
						<div class="card-body" id="totalCashPayment">
						</div>
					</div>
				</div>
				<div class="card bg-success m-2  col-4" style="width:290px">
					<span class="card-icon">
						<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
						<lord-icon src="https://cdn.lordicon.com/huwchbks.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
							>
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Cash Balance</div>
						<hr class="my-0 ms-2">
						<div class="card-body" id="totalCashBalance">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card bg-primary  m-2" style="width:290px">
					<span class="card-icon">
						<lord-icon src="https://cdn.lordicon.com/rgyftmhc.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Credit Kart Income</div>
						<hr class="my-0 ms-2">
						<div class="card-body" id="totalCreditKart">
						</div>
					</div>
				</div>


				<div class="card bg-danger  m-2" style="width:290px">
					<span class="card-icon">
						<lord-icon src="https://cdn.lordicon.com/rgyftmhc.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Credit Kart Payment</div>
						<hr class="my-0 ms-2">
						<div class="card-body" id="totalCreditKartPayment">
						</div>
					</div>
				</div>


				<div class="card bg-success m-2  col-4" style="width:290px">
					<span class="card-icon">
						<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
						<lord-icon src="https://cdn.lordicon.com/huwchbks.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
							>
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Credit Cart Balance</div>
						<hr class="my-0 ms-2">
						<div class="card-body" id="totalKreditKartBalance">
						</div>
					</div>
				</div>

			</div>



			<div class="col-12" style="background:white">
					<div class="row">
						<div class="col-6 mt-3" style="background:white">
							<h3 class="my-2">
								All Income (Payment  Method)  & Price Chart
							</h3>
							<div id="allIncomeCurrencyWithPaymentNameChart"></div>
					</div>
					<div class="col-6 mt-3" style="background:white">
							<h3 class="my-2">
								All Payment (Payment  Method)  & Price Chart
							</h3>
							<div id="allPaymentCurrencyWithPaymentNameChart"></div>
						</div>
					</div>	
			</div>


		</div>
		</div>






@section ExtraScripts {
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
     <script src="~/js/managmentreport.js"></script>
    }



