@using Project.WebUI.ViewModel
@model SingleRoomReports_VM

@{
    ViewData["Title"] = "GetBySelected";
}



@if (Model.IncomeWithRoomDtos.Count == 0 && Model.PaymentDetailWithRoomDtos.Count == 0 && Model.RoomIncomeWithRoomDtos.Count == 0)
{

	<div class="alert alert-info" role="alert">
		No data found for the date you entered !   <br>
		(<span class="text-bold">@ViewBag.date</span>)
		<br>
		<a asp-action="Index" class="alert-link">Click</a>  to go back.
	</div>
}
else
{
	<div>
		<h3  id="dateId">@ViewBag.date</h3>
	</div>

	<div class="row">
			<h3>All Income and Payment with Exchange</h3>
		<div class="d-flex justify-content-start flex-wrap">
			<div class="card bg-primary  m-2" style="width:290px">
				<span class="card-icon">
					<lord-icon src="https://cdn.lordicon.com/cjieiyzp.json"
						   trigger="hover"
						   colors="primary:#fff,secondary:#fff"
						   class="position-absolute">
					</lord-icon>
				</span>
				<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

				<div class="card-content ms-5">
					<div class="card-header" >Total Rent Incomes</div>
					<hr class="my-0 ms-2">
					<div class="card-body" id="totalIncome">
					</div>
				</div>
			</div>

			<div class="card bg-b-pink  m-2" style="width:290px">
				<span class="card-icon">
					<lord-icon src="https://cdn.lordicon.com/rgyftmhc.json"
						   trigger="hover"
						   colors="primary:#fff,secondary:#fff"
						   class="position-absolute">
					</lord-icon>
				</span>
				<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

				<div class="card-content ms-5">
					<div class="card-header">Total Payments Count</div>
					<hr class="my-0 ms-2">
					<div class="card-body" id="totalPayment">

					</div>
				</div>
			</div>
			<div class="card bg-success  m-2" style="width:290px">
				<span class="card-icon">
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
					<lord-icon src="https://cdn.lordicon.com/huwchbks.json"
						   trigger="hover"
						   colors="primary:#fff,secondary:#fff"
						   class="position-absolute">
						>
					</lord-icon>
				</span>
				<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

				<div class="card-content ms-5">
					<div class="card-header">Total Remaining Balance</div>
					<hr class="my-0 ms-2">
					<div class="card-body" id="totalBalance">
						
					</div>
				</div>
			</div>
		</div>

		<div class="row">
		<div class="col-12"  style="background:white">
				<h3 class="my-2">
					All Income (Exgange Name) & Price Chart
				</h3>

			<div id="allIncomeCurrencyChart"></div>

			</div>

			<h3>All Income and Payment with Payment Name</h3>
			<div class="d-flex justify-content-start flex-wrap">
				<div class="card bg-primary  m-2" style="width:290px">
					<span class="card-icon">
						<lord-icon src="https://cdn.lordicon.com/cjieiyzp.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Eft</div>
						<hr class="my-0 ms-2">
						<div class="card-body">
							<p>Total amount : 50 $</p>
							<p>Total amount : 50 ₺</p>
							<p>Total amount : 50 €</p>
							<p>Total amount : 5 £</p>
						</div>
					</div>
				</div>
				<div class="card bg-purple  m-2" style="width:290px">
					<span class="card-icon">
						<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
						<lord-icon src="https://cdn.lordicon.com/yeallgsa.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
							>
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Cash</div>
						<hr class="my-0 ms-2">
						<div class="card-body">
							<p>Total amount : 50 $</p>
							<p>Total amount : 50 ₺</p>
							<p>Total amount : 50 €</p>
							<p>Total amount : 5 £</p>
						</div>
					</div>
				</div>
				<div class="card bg-success  m-2" style="width:290px">
					<span class="card-icon">
						<lord-icon src="https://cdn.lordicon.com/rgyftmhc.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Credit Kart</div>
						<hr class="my-0 ms-2">
						<div class="card-body">
							<p>Total amount : 50 $</p>
							<p>Total amount : 50 ₺</p>
							<p>Total amount : 50 €</p>
							<p>Total amount : 5 £</p>
						</div>
					</div>
				</div>
				<div class="card bg-b-pink  m-2" style="width:290px">
					<span class="card-icon">
						<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
						<lord-icon src="https://cdn.lordicon.com/huwchbks.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
							>
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Payment</div>
						<hr class="my-0 ms-2">
						<div class="card-body">
							<p>Total amount : 50 $</p>
							<p>Total amount : 50 ₺</p>
							<p>Total amount : 50 €</p>
							<p>Total amount : 5 £</p>
						</div>
					</div>
				</div>
				<div class="card bg-orange m-2" style="width:290px">
					<span class="card-icon">
						<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
						<lord-icon src="https://cdn.lordicon.com/huwchbks.json"
							   trigger="hover"
							   colors="primary:#fff,secondary:#fff"
							   class="position-absolute">
							>
						</lord-icon>
					</span>
					<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

					<div class="card-content ms-5">
						<div class="card-header">Total Balance</div>
						<hr class="my-0 ms-2">
						<div class="card-body">
							<p>Total amount : 50 $</p>
							<p>Total amount : 50 ₺</p>
							<p>Total amount : 50 €</p>
							<p>Total amount : 5 £</p>
						</div>
					</div>
				</div>
			</div>
		<div class="col-12" style="background:white">
			<div class="row">
				<div class="col-6 mt-3" style="background:white">
				<h3 class="my-2">
					All Income (Payment  Method)  & Price Chart
				</h3>
				<div id="allIncomeCurrencyWithPaymentNameChart"></div>
			</div>
			<div class="col-6 mt-3" style="background:white">
				<h3 class="my-2">
						All Payment (Payment  Method)  & Price Chart
				</h3>
				<div id="allPaymentCurrencyWithPaymentNameChart"></div>
			</div>
			</div>

		</div>
		</div>
		
	
		</div>






@section ExtraScripts {
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
     <script src="~/js/managmentreport.js"></script>
    }

}

