<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/animate_page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme-color.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/plugins.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/material_style.css" asp-append-version="true" />
    @await RenderSectionAsync("ExtraCss", false)
</head>
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper">

        <partial name="~/Views/Partials/_HeaderPartial.cshtml" />

    <div class="page-container">

            <partial name="~/Views/Partials/_SideBarPartial.cshtml" />

            <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
              
            </div>
        </div>
    </div>

        <partial name="~/Views/Partials/_FooterPartial.cshtml" />

   
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>

   
    @await RenderSectionAsync("ExtraScripts", false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
